.servicesContainer
{
    height: min-content;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    padding-top: 89px;
    width: 100%;
    background-image: url(./pexels-sagui-andrea-618833.jpg)

}
.servicesContent {
    background-color: #fff;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
}
.servicesLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.servicesTitle {
    width: max-content;
    padding: 13px 34px 13px 34px;
}
.servicesList {
    width: 100%;
    justify-content: stretch;
}
.contactBlock {
    width: 100% !important;
    display: block;
    padding: 13px 34px 13px 34px;
}
@media screen and (min-width: 900px) {
    .servicesContent {
        width: 55% !important;
    }
    .servicesList {
        width: 30% !important;
    }
}