.servicesPageBackground {
    position: fixed;
    top: 0px;
    z-index: -1;
    min-width: 1597px;
    width: 100%;
}
.servicesContent
{
    height: min-content;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    padding-top: 34px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./pexels-sagui-andrea-618833.jpg)

}
.input {
    display: block;
    width: 34vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    border-radius: 13px;
    border: 0px;
    padding: 5px 13px;
    box-shadow: inset 2px 2px 5px #0c0c0c;
}
.message {
    height: 55px;
}
.submit {
    width: 21vw;
    height: 34px;
    color: #fff;
    background-color: #633551 !important;
    font-family: Kiona-SemiBold, sans-serif;
}
.services{
    width: 89vw;
    margin-top: 89px;
}