.servicesPageBackground {
    position: fixed;
    top: 0px;
    z-index: -1;
    min-width: 1597px;
    width: 100%;
}

.contactForm {
    width: 377px;
    margin-left: auto;
    margin-right: auto;
}
.input {
    display: block;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    border-radius: 8px;
    border: 0px;
    padding: 5px 13px;
}
.message {
    height: 55px;
}
.submit {
    width: 144px;
    height: 34px;
    color: #fff;
    background-color: #633551;
    font-family: Kiona-SemiBold, sans-serif;
}
.services{
    width: 55vw;
    margin-top: 89px;
}

.form-error-text {
    color: #e0543b !important;
}