#video {
    position: fixed;
    top: 0px;
    z-index: -1;
    min-width: 1597px;
    width: 100%;
}
#frontpageContent {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    text-align: center;
}
.front {
    margin-top: 55px;
    width: 34vw;
}
@media screen and (max-width: 900px) {
    #video {
        display: none;
    }
    
}