#logo {
    width: 15vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}
#headerContainer {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-shadow: 2px 3px 5px #000;
    background-color: #fff;
    z-index: 100;
    align-items: center !important;
    position: relative;
}
@media screen and (max-width: 900px) {
    #logo {
        width: 40vw;
        height: 40vw;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: -50px;
    }
}