@font-face {
  font-family: Kiona-Regular;
  src: url(../public/fonts/Kiona-Regular.ttf);
}
@font-face {
  font-family: Kiona-SemiBold;
  src: url(../public/fonts/Kiona-SemiBold.ttf);
}
@font-face {
  font-family: Kiona-Bold;
  src: url(../public/fonts/Kiona-Bold.ttf);
}
body {
  margin: 0;
  font-family: Kiona-regular,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rightJustify {
  text-align: right;
  margin-right: 20px;
}
.xs {
  font-size: .55em;
}
.sm {
  font-size: .8em;
}
.md {
  font-size: 1em;
}
.lg {
  font-size: 1.5em;
}
.xl {
  font-size: 2em;
}
.MuiButton-containedPrimary {
  background-color: rgba(99,53,81,1) !important;
}
.MuiButton-containedPrimary:hover {
  background-color: rgba(83,86,131,1) !important;
}